# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg-info/
dist/
build/
.uv/

# Python models (large files)
*.pt
*.pth
*.onnx
*.pb

# Images generated during testing
landscape_*.jpg
*_segmented.jpg
*_inpaint_*.jpg

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

*.pem